@import './variables.module.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import './ruoyi.scss';

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  color: var(--font-color);
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  // padding: 10px 70px;
  height: calc(100vh - 190px);
  overflow: hidden;
  overflow-y: auto;
  // background-color: #f0f2f5;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}



.message_wrp{
	.isassistant {
		// animation: blink 0.7s infinite;
		display: inline-block;
		img{
			width: 15px;
			height: 15px;
			margin: 0 7px;
			margin-bottom: -2px;
		}
	}
	.thinkBox{
		border-left: 2px solid #e5e5e5;
		padding-left: 13px;
		margin-bottom: 15px !important;
		font-size: 12px !important;
		color: #8b8b8b;
	}
	h3{
		font-size: 20px;
		font-weight: 600;
	}
	h1,h2,h3,h4,h5,h6{
		line-height: 1.25;
		margin-bottom: 16px;
		margin-top: 24px;
	}
	strong {
		font-weight: 600;
	}
	P{
		margin-bottom: 10px;
		margin-top: 0;
		white-space: pre-wrap;
	}
	.msgcont>p:last-child{
		margin-bottom: 0;
	}
	ol,ul{
        margin-bottom: 16px;
        padding-left: 32px;
	}
	img {
		background-color: #fff;
		border-style: none;
		box-sizing: content-box;
		max-width: 100%;
        width: 16rem;
		border-radius: 12px;
		cursor: pointer;
		margin:8px 0;
	}
	.code_box{
		background: rgb(40, 44, 52);
		border-radius: 10px;
		overflow: hidden;
		margin-bottom: 10px;
		.code_title{
			display: flex;
			justify-content: space-between;
			color: #fff;
			font-size: 12px;
			padding: 9px 13px;
			background: #50505a;
			img{
				width: 20px;
				border-radius: 0;
				background: none;
				margin: 0;
			}
		}
		pre{
			margin: 0;
			border-radius: 0;
			code{
				white-space: pre-wrap;
			}
		}
	}
	pre{
		padding: 16px;
		font-size: 12px;
		margin: 15px 0;
		border-radius: 10px;
		background: rgb(40, 44, 52);
		color: #fff;
	}
	.markdown-box{
		table {
			line-height: 28px;
			margin-bottom: 8px;
			margin-top: 0;
			border-collapse: collapse;
			border-spacing: 0;
			display: block;
			max-width: 100%;
			overflow: auto;
			width: max-content;
			font-size: 16px;
			tr {
				border-top: 1px solid #e0e2eb;
			}
			th {
				border: 1px solid #e0e2eb;
				padding: 6px 13px;
				font-weight: 600;
			}
			td {
				border: 1px solid #e0e2eb;
				padding: 6px 13px;
			}
		}
	}
	.provenance{
		table{
			width: 100%; /* 表格宽度占满父容器 */
  			table-layout: auto; /* 根据内容自动调整列宽 */
			border-collapse: collapse;
			border-spacing: 0;
			font-size: 12px;
			overflow: auto;
			display: block;
		}
		tr {
			border-top: 1px solid #e0e2eb;
		}
		th,td {
			border: 1px solid #e0e2eb;
			padding: 6px 13px;
			word-wrap: normal;
    		white-space: nowrap;
		}
		th {
			font-weight: 600;
		}
		/* 自定义整个滚动条 */
		::-webkit-scrollbar {
        	background-color: #f9f9f9;
			height: 5px;
		}
	
		/* 自定义滚动条轨道 */
		::-webkit-scrollbar-track {
        	background: #e1e1e1;
			/* 轨道的背景色 */
			border-radius: 5px;
			/* 轨道的圆角 */
		}
	
		/* 自定义滚动条的滑块（thumb） */
		::-webkit-scrollbar-thumb {
			cursor: pointer;
			background-color: #c1c1c1;
			/* 滑块的背景色 */
			border-radius: 5px;
			/* 滑块的圆角 */
		}
	
		/* 当滑块悬停或活动时的样式 */
			::-webkit-scrollbar-thumb:hover {
			cursor: pointer;
        	background: #a8a8a8;
			/* 悬停或活动状态下滑块的背景色 */
		}
	}
	
}
.provenance{
	padding: 10px 0;
	P{
		margin: 0;
		margin-bottom: 5px;
		white-space: pre-wrap;
		font-size: 12px;
	}
	a{
		color: var(--el-theme-color);
		text-decoration: underline;
	}
}

.cont_item_tooltip{
	width: 300px !important;
	border-radius: 10px !important;
	margin-top: 10px !important;
}
